*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    background-color: rgba(26, 29, 36, 0.95);
}
a {
    text-decoration: none;
    color: inherit;
}

#content-container {
    margin-top: 7.4rem;
}

.bg-blur {
    backdrop-filter: blur(10px);
}

.btn {
    cursor: pointer;
}